<div class="panel panel-primary">
  <div class="panel-heading">{{pageTitle}}
  </div>

  <div class="panel-body">

    <div class="row">

      <div class="col-md-4">
        <input type='text' placeholder="Search..." [(ngModel)]='listFilter' />
      </div>


      <label class="col-md-2 control-label" for="">Sort:</label>
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="clickedOn('startDate')"> Start Date </button>
        <button class="btn btn-primary" (click)="clickedOn('endDate')"> End Date </button>
        <button class="btn btn-primary" (click)="clickedOn('priority')"> Priority </button>
        <button class="btn btn-primary" (click)="clickedOn('completed')"> Completed </button>
      </div>


    </div>

    <div class='table-responsive'>
      <table class='table' *ngIf='projects && projects.length'>

        <tbody *ngFor="let project of projects | projectFilter:listFilter | sortByProject :sortFilter">
          <tr>
            <td>
              <label class="control-label" for="">Project: </label>
            </td>
            <td>{{project.project}}</td>
            <td>
              <label class="control-label" for="">Priority:</label>
            </td>
            <td>{{project.priority}}</td>
            <td>
              <button class="btn btn-primary" style="width:80px;" (click)="onClick(project, 'Update')"> Update </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label" for="">No of Tasks:</label>
                
            </td>
            <td>{{project.taskCount}}</td>
            <td>
              <label class="control-label" for="">Completed:</label>
            </td>
            <td>{{project.completedTaskCount}}</td>
            <td>
              <button class="btn btn-primary" style="width:80px;" (click)="onClick(project, 'Delete')"> Suspend </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label" for="">Start Date:</label>
            </td>
            <td>{{project.startDate}} </td>
            <td>
              <label class="control-label" for="">End Date:</label>
            </td>
            <td>{{project.endDate}} </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
  </div>