<div class="panel panel-primary">
  <div class="panel-heading">{{oper}} {{pageTitle}}
  </div>

  <div class="panel-body">
    <form class="form-horizontal" novalidate (ngSubmit)="saveProject()" [formGroup]='projectForm'>

      <fieldset>

        <div class="form-group" [ngClass]="{'has-error' : displayMessage.project}">
          <label class="col-md-2 control-label" for="">Project:</label>
          <div class="col-md-8">
            <input class="form-control" id="projectId" type="text" formControlName="project" />
            <span class="help-block" *ngIf="displayMessage.project">
              {{displayMessage.project}}
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="">Set Date</label>
          <div class="col-md-1">
            <input class="form-control" id="dateId" type="checkbox" (change)='checkDates($event)'/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="">Start Date:</label>
          <div class="col-md-8">
            <input class="form-control" type="date" id="startDateId" [(ngModel)]='currentDate'
            name="startDate" formControlName="startDate" />

          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="">End Date:</label>
          <div class="col-md-8">
            <input class="form-control" type="date" name="endDate" [(ngModel)]='defaultEndDate' formControlName="endDate" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="">Priority:</label>
          <div class="col-md-8 slidecontainer">
            <input type="range" min="0" max="30" value="0" class="slider" id="priorityId" formControlName="priority">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="">Manager:</label>
          <div class="col-md-4">
            <input class="form-control" id="managerId" type="text" formControlName='managerId'/>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="openModal(mgrModal)">Search</button>
          </div>
        </div>
  

  <div class="form-group">
    <div class="col-md-4 col-md-oofset-2">
      <span>
        <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px" [disabled]='!projectForm.valid'>
          {{oper}}
        </button>
      </span>
    </div>
    <div class="col-md-4 col-md-oofset-2">
      <span>
        <button class="btn btn-primary" type="reset" style="width:80px;" (click)='onResetClick()'> Reset </button>
      </span>
    </div>
  </div>
  </fieldset>
  </form>
  <pm-project-list (notify)='onNotify($event)' (operation)='onOperation($event)'></pm-project-list>
</div>

<ng-template #mgrModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Select Manager ID</h4>
      <button type="button" class="close pull-right" arai-label="Close" (click)="modalRef.hide()">
      </button>
    </div>
    <div class="modal-body">
      <div style="margin-bottom:10px">
        <input type='text' class="form-control" placeholder='Search...' [(ngModel)]='listFilter'/>
      </div>
      <div class="table-responsive">
        <table class='table' *ngIf='users && users.length'>
          <tBody>
            <tr>
              <th></th>
              <th>Id</th>
              <th>Name</th>
            </tr>
            <tr *ngFor='let user of users | userFilter:listFilter'>
              <td>
              <input name="user" type="radio" [value]="user" [(ngModel)]="selectedUser" (change)='selectUser(selectedUser)'
              /></td>
              <td>{{user.id}}</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
            </tr>
          </tBody>
        </table>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-primary" type="button" (click)='modalRef.hide()'>OK</button>
    </div>
  </ng-template>